<AuthorizeView>
    <Authorized>
        <a href="/">Hello, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut2">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register2">Register</a>
        <a href="Identity/Account/Login2">Log in</a>
    </NotAuthorized>
</AuthorizeView>